.DS_Store
node_modules/
dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
.project
.cache-loader
*.suo
*.ntvs*
*.njsproj
*.sln
/src/components/test.vue
/src/views/group*
