<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Vue深入学习</title>
	<script src="../js/vue.js" type="text/javascript" charset="utf-8"></script>
</head>
<body>
    <div id="box">
    	<input type="text" v-model="a" />
    	<ul>
    		<li v-for="val in arr | orderBy a">
    			{{val}}
    		</li>
    	</ul>
    </div>
    <script>

        var vm=new Vue({
            data:{
            	a:'',
            	arr:['width','height','background','orange']
            },
            methods:{
            }
        }).$mount('#box');
    </script>
</body>
</html>