<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Vue深入学习</title>
	<link rel="stylesheet" type="text/css" href="../css/weibo.css"/>
	<script src="../js/vue.js" type="text/javascript" charset="utf-8"></script>
	<script src="../js/vue-resource.js" type="text/javascript" charset="utf-8"></script>
	<script>
		Vue.filter('date',function (input) {
			/*
			 * php中time()获取当前时间，获取的是秒；
			 * js中new Date()获取当前时间，获取的是毫秒
			 */
			var oDate=new Date(input*1000);
			return oDate.getFullYear() + '-' 
			+ ((oDate.getMonth()+1)<10?'0' + (oDate.getMonth()+1):(oDate.getMonth()+1)) + '-' 
			+ (oDate.getDate()<10?'0'+oDate.getDate():oDate.getDate()) + ' '
			+ (oDate.getHours()<10?'0'+oDate.getHours():oDate.getHours()) + ':' 
			+ (oDate.getMinutes()<10?'0'+oDate.getMinutes():oDate.getMinutes())+':'
			+ (oDate.getSeconds()<10?'0'+oDate.getSeconds():oDate.getSeconds());
		});
		window.onload=function () {
			var URL='lib/weibo.php';
			new Vue({
				el:'.znsArea',
				data:{
					t1:'',
					msgData:[]
				},
				methods:{
					add:function () {
						//发送ajax请求
						this.$http({
							url:URL,
							data:{
								//后台发送数据
								act:'add',
								content:this.t1
							}
						}).then(function (res) {
							/*var json=res.data;*/
							var json=res.data;
							//msgData添加数据
							this.msgData.unshift({
								content:this.t1,
								time:json.time,
								acc:0,
								ref:0,
								id:json.id
							});
							this.t1='';
						})
					},
					getPageData:function (n) {
						this.$http({
							url:URL,
							data:{
								act:'get',
								page:n
							}
						}).then(function (res) {
							/*console.log(res.data);*/
							var arr=res.data;
							for (var i=0; i<arr.length;i++) {
								this.msgData.push({
									content:arr[i].content,
									time:arr[i].time,
									acc:arr[i].acc,
									ref:arr[i].ref,
									id:arr[i].id
								})
							}
						})
					}
				},
				ready:function () {
					this.getPageData(1);
				}
			})
		}
	</script>
</head>
<body>
<div class="znsArea" v-cloak>
	<!--留言-->
	<div class="takeComment">
		<textarea name="textarea" class="takeTextField" id="tijiaoText" v-model="t1"></textarea>
		<div class="takeComment">
			<input type="button" class="inputs" value="" @click="add" />
			<span>(可按Enter回复)</span>
		</div>
	</div>
	<!--已留-->
	<div class="commentOn" v-show="msgData.length==0">暂无留言</div>
	<div class="messList">
		<div class="reply" v-for="item in msgData">
			<p class="replyContent">{{item.content}}</p>
			<p class="operation">
				<span class="replyTime">{{item.time | date}}</span>
				<span class="handle">
					<a href="javascript:;" class="top">{{item.acc}}</a>
					<a href="javascript:;" class="down_icon">{{item.ref}}</a>
					<a href="javascript:;" class="cut">删除</a>
				</span>
			</p>
		</div>
		<div class="page">
			<a href="javascript:;" class="active">1</a>
			<a href="javascript:;">2</a>
			<a href="javascript:;">3</a>
		</div>
	</div>
</div>
</body>
</html>