.modal-dialog {
	margin: 0 !important;
	height: 100%;
	overflow: hidden;
}
.modal-header {
	padding: 0 !important;
}
.modal-content {
	margin: 30px auto;
	overflow-x: hidden;
	overflow-y: auto;
}
.modal-title {
	width: 25%;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	float: left;
	text-align: center;
	height: 40px;
	line-height: 40px;
	font-size: 16px;
	display: none;
}
.list-group-item {
	border-radius: 0 !important;
	border: none;
	border-bottom: 1px solid #ddd;
	margin-bottom: 0 !important;
}
.list-group-item:last-child {
	border-bottom: none;
}
.list-group {
	margin-bottom: 0;
}
.modal-body {
	padding: 0;
}
.city, .dist, .village {
	display: none;
}
.cTitle {
	color: #f23030;
	border-bottom: 1px solid #f23030;
	display: block;
}
.modal-dialog {
	width: 100%;
}
.ceshi {
	margin: 50px auto;
	display: block;
}