<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<script src="js/vue.js" type="text/javascript" charset="utf-8"></script>
	<script src="js/vue-resource.js" type="text/javascript" charset="utf-8"></script>
	<title></title>
	<style type="text/css">
		#box {
			width: 500px;
			margin: 0 auto;
			border: 1px solid;
			padding: 30px 50px;
		}
		input {
			width: 100%;
		    line-height: 30px;
		    padding-left: 10px;
		    box-sizing: border-box;
		    font-size: 16px;
		}
		ul {
			list-style: none;
			padding: 0;
			margin: 0;
		}
		li {
			line-height: 30px;
		}
		.gray{
			background: #EEEEEE;
		}
	</style>
	<script>
		window.onload = function() {
			new Vue({
				el: 'body',
				data: {
					myData: [],
					t1: ''
				},
				methods: {
					get: function() { /*百度*/
						this.$http.jsonp('https://sp0.baidu.com/5a1Fazu8AA54nxGko9WTAnF6hhy/su', {
							wd: this.t1
						}, {
							jsonp: 'cb'
						}).then(function(res) {
							this.myData = res.data.s;
						}, function(res) {})
					}
				}
			})
		}
	</script>
</head>
<body>
	<div id="box">
		<input type="text" @keyup="get()" v-model="t1" />
		<ul>
			<li v-for="value in myData"> {{value}} </li>
		</ul>
		<p v-show="myData.length==0">暂无数据...........</p>
	</div>
</body>
</html>