.cDayin{
	height: 25px;
    line-height: 22px;
    margin: 0;
}
.dayinBox{
	width: 100%;
    overflow: hidden;
    padding-bottom: 0px;
    padding: 20px;
    box-sizing: border-box;
    float: left;
}
.dyTitleBig{
	height: 48px;
    border-bottom: none;
    font-size: 30px;
    text-align: center;
    line-height: 48px;
    box-sizing: border-box;
    font-weight: bold;
}
.dyTitle{
	height: 35px;
    border: 1px solid #aaa;
    border-bottom: none;
    font-size: 20px;
    text-align: center;
    line-height: 35px;
    box-sizing: border-box;
}
.dyLheight td{
	height: 23px;
    text-align: center;
    border: 1px solid #aaa;
}
.dyTable{
	clear: both;
    float: left;
    width: 100%;
    box-sizing: border-box;
    border-collapse: collapse;
}
.dyTable th{
    border: 1px solid #aaa;
    background-color: #ccc;
	height: 38px;
    border-bottom: 1px solid #dbdbdb;
    color: #444444;
}
.dyT02 th{
    border: 1px solid #aaa;
    background-color: #ccc;
	height: 28px;
    border-bottom: 1px solid #dbdbdb;
    color: #444444;
}
.dY01{
	width: 10%;
}
.dY02{
	width: 5%;
}
.dY03{
	width: 6%;
}
.hy01{
	width: 9%;
}
.hy02{
	width: 18%;
}
.hy03{
	width: 37%;
}
/***活动样式***/
.tbRmodeltable .aM01{
	width: 4%;
    text-align: center;
}
.tbRmodeltable .aM02{
	width: 6%;
    text-align: center;
}
.tbRmodeltable .aM03{
	width: 27%;
    text-align: center;
}
.tbRmodeltable .aM04{
	width: 13%;
    text-align: center;
}
.tbRmodeltable .aM05{
	width: 8%;
    text-align: center;
}
.addActivityT{
	width: 30% !important;
}
.addActivityUp{
	width: 45% !important;
}
.activityBox{
	margin: 3%;
	background-color: #EFEFEF;
}
.activityBox h3{
	background-color: #2e88b6;
	color: #FFFFFF;
	text-align: center;
	font-family: "微软雅黑";
	padding: 1% 0;
	font-size: 20px;
	margin-bottom: .5rem;
}
.activity_content h1{
	font-family: "微软雅黑";
	margin-bottom: 10px;
	background-color: #AED6EA;
	float: left;
	padding: 5px;
	border-radius:5px ;
	color: #1F5B7A;
}
.activity_content p{
	clear: both;
	font-family: "宋体";
    color: #333333;
    font-size: 16px;
	line-height: 1.5em;
	padding: 0 20px;
}
.activity_emphasize p{
	color: #e36c0a;
}
.activity_block{
	margin-top: 20px;
}
.activity_form{
	padding: 2% 3%;
	font-size: 1rem;
    line-height: 1.5;
}
.activity_form label{
	display: inline-block;
    margin-top: .5rem;
    font-size: 1rem;
    line-height: 1.5;
    font-size: 16px;
    color: #373a3c;
}
.activity_input{
	display: block;
	width: 100%;
    padding: .5rem .75rem;
    font-size: 1rem;
    line-height: 1.25;
    color: #55595c;
    background-color: #fff;
    background-image: none;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: .25rem;
    box-sizing: border-box;
    line-height: 1.5;
    font-size: 16px;
}
.activity_submit{
	display: block;
    width: 100%;
    margin-top: 1rem;
    -moz-user-select: none;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    cursor: pointer;
    display: inline-block;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    font-size: 16px;
    line-height: 1.25;
    padding: 0.5rem 1rem;
    vertical-align: middle;
    white-space: nowrap; 
    background-color: #36a5de;
	color: #FFFFFF;
	text-align: center;
	font-family: "微软雅黑";
}
.activity_tc{
	display: none;
}
.activity_tancengBox{
	width: 100%;
	height: 100%;
	background-color: #000000;
	opacity: 0.8;
	filter: alpha(opacity: 80);
	position:fixed;
	top: 0;
	z-index: 1000;
}
.activity_tanceng{
	width: 500px;
	height: 300px;
	margin: 0 auto;
	background-color: #FFFFFF;
	border-radius: 5px;
	z-index: 2000;
	position: absolute;
	font-size: 16px;
	top: 0;
	left: 0;
}
.activity_tcPhone{
	margin: 0 auto;
	width: 270px;
	margin-top: 60px;
}
.activity_tcPhone a{
	font-size: 20px;
	line-height: 40px;
	text-decoration: underline;
	color: #5DB5C9;
}
.activity_tcClose{
	width: 100%;
	height: 50px;
	font-size: 20px;
	color: #FFFFFF;
	cursor: pointer;
	line-height: 50px;
	text-align: center;
	background-color: #2D6C7B;
	position: absolute;
	border-radius: 0px 0px 5px 5px;
	bottom: 0;
}
.contectName{
	width: 20% !important;
}
.contectTel01{
	width: 62% !important;
	padding-left: 10px;
}
.contectTel{
	width: 62% !important;
	padding-left: 10px;
}
.activity_pNum{
	float: left;
	width: 40%;
}
.inputError{
	display: none;
	height: 18px;
	line-height: 22px;
	color: #a94442;
}
.inputPoint{
	display: block;
}
.activityL01{
	width: 25%;
}
.dayinBox02{
	clear: both;
	margin: 0 auto;
    overflow: hidden;
    padding: 20px 240px;
    box-sizing: border-box;
}
.tbRmodelTabTop01{
	background-image: url("../img/tbRmodelTabTopBg.png");
    background-repeat: repeat-x;
    position: relative;
}
.userSbox01 {
    top: 7px;
    padding-right: 13px;
    position: absolute;
    right: 0;
}
.dayinBox02 .dyLheight td{
	height: 28px;
	line-height: 28px;
    text-align: center;
    border: 1px solid #aaa;
}
.dyTitleBig02{
	height: 48px;
    border-bottom: none;
    font-size: 26px;
    text-align: center;
    line-height: 48px;
    box-sizing: border-box;
    font-weight: 400px;
}
.activityLNum01{
	width: 6%;
}
.activityLNum02{
	width: 27%;
}
.activityLNum03{
	width: 20%;
}