.activityFormBlock{
	clear: both;
	overflow: hidden;
	padding-bottom: 0.75rem;
	padding-left: 7%;
	padding-right: 7%;
}
.activityPoint01{
	color: #999;
	display: block;
	margin-left: .275rem;
	font-size: .875rem;
}
.activityPoint02{
	color: #a94442;
	display: none;
	margin-left: .275rem;
	font-size: .875rem;
}
.radioExpert{
	display: inline;
}
.radioExpert div{
	width: 30%;
	float: left;
}
