body, html, div, blockquote, img, label, p, h1, h2, h3, h4, h5, h6, pre, ul, ol,
li, dl, dt, dd, form, a, fieldset, th, td{
	margin: 0; 
	padding: 0; 
	border: 0; 
}
body, html{
	font-family: "微软雅黑",arial;
}
input{
	color: #444;
}
input[type=text]{
    padding-left: 10px;
}
a{
	text-decoration: none;
}
ul{
	list-style: none;
}
