/**
 * 样式格式化
 * */
body,
html,
div,
blockquote,
img,
label,
p,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
ul,
ol,
li,
dl,
dt,
dd,
a,
fieldset {
  margin: 0;
  padding: 0;
  border: 0;
}
body,
html {
  font-family: "微软雅黑", arial;
}
/**
 * 内容格式01    
 * 适合类型，标题前面有border，图标
 * */
/**
 * 内容格式02   
 * 适合类型，标题(标题粗体可变色)内容
 * */
/*
 *图片处理
 * */
/*
 *粗体标题
 * */
/*
 *单纯内容文字
 * */
/*
 * 底部表格
 * */
.footFormBig {
  margin: 3%;
  background-color: #EFEFEF;
}
.footFormBig h3 {
  background-color: #2e88b6;
  color: #FFFFFF;
  text-align: center;
  font-family: "微软雅黑";
  padding: .5rem;
  margin-bottom: .5rem;
}
.footFormBig .activity_form {
  padding: 2% 0;
  padding-bottom: 3%;
  font-size: 1rem;
  line-height: 1.5;
}
.footFormBig .form_block {
  clear: both;
  overflow: hidden;
  padding-bottom: 0.75rem;
  padding-left: 7%;
  padding-right: 7%;
}
.footFormBig .block_input {
  display: block;
  padding-left: 10px;
  width: 100%;
  padding: .5rem .5rem;
  font-size: 1rem;
  line-height: 1.25;
  color: #55595c;
  background-color: #fff;
  background-image: none;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid #E6E6E6;
  border-radius: .25rem;
  box-sizing: border-box;
}
.footFormBig .Point01 {
  color: #999;
  display: block;
  margin-left: .275rem;
  font-size: .875rem;
}
.footFormBig .Point02 {
  color: #a94442;
  display: none;
  margin-left: .275rem;
  font-size: .875rem;
}
.footFormBig label {
  display: inline-block;
  font-size: 1rem;
  line-height: 1.5;
  font-size: 16px;
  color: #373a3c;
}
.radioExpert {
  display: inline;
}
.radioExpert div {
  width: 30%;
  float: left;
}
.btnDefault {
  clear: both;
  color: #333;
  background-color: #fff;
  border-color: #ccc;
  display: inline-block;
  padding: .375rem 1rem;
  margin-bottom: 0;
  font-size: .875rem;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}
.btnChoose {
  color: #fff;
  background-color: #5bc0de;
  border-color: #46b8da;
}
.activity_submit {
  width: 94%;
  margin: 0 3%;
  -moz-user-select: none;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  cursor: pointer;
  display: inline-block;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.25rem;
  padding: 0.5rem 1rem;
  vertical-align: middle;
  white-space: nowrap;
  background-color: #36a5de;
  color: #FFFFFF;
  text-align: center;
  font-family: "微软雅黑";
}
/*
 *个性样式_知心姐姐_logo,标题,序号,标题,小图片
 * */
.zxjj_gexing {
  width: 100%;
  overflow: hidden;
  text-align: center;
}
.zxjj_gexing .span1 {
  font-size: 1rem;
  color: #219c6c;
  margin-bottom: 0.5rem;
  line-height: 1.5;
  font-weight: bold;
}
.zxjj_gexing .span2 {
  font-size: 1rem;
  color: #555555;
  margin-bottom: 0.5rem;
  line-height: 1.5;
  font-weight: bold;
  margin-top: 0.5rem;
}
/*
 *知心姐姐 
 * */
.zxjj_Box {
  padding: .652rem;
  max-width: 740px;
  min-width: 320px;
  margin: 0 auto;
  box-sizing: border-box;
  padding-top: 1rem;
}
.zxjj_Title_box {
  width: 100%;
  overflow: hidden;
}
.zxjj_Title_box .titleBig {
  font-size: 1.5rem;
  color: #000000;
}
.zxjj_Title_box .titleNotes {
  color: #8c8c8c;
  padding-bottom: 2rem;
  padding-top: 1rem;
}
.zxjj_content1 {
  width: 100%;
  overflow: hidden;
  line-height: 1.5;
  font-size: 1rem;
  color: #555555;
  padding-bottom: 0.25rem;
  margin-bottom: 1rem;
  border-left: 1px solid #ffd52f;
}
.zxjj_content1 .cTitle01 {
  font-weight: bold;
  border-left: 0.25rem solid #ffd52f;
  padding-left: 0.25rem;
}
.zxjj_content1 .cContent01 {
  padding-left: 0.5rem;
  padding-top: 0.5rem;
}
.zxjj_content2 {
  width: 100%;
  overflow: hidden;
  line-height: 1.5;
  font-size: 1rem;
  margin-bottom: 1rem;
  padding-bottom: 0.25rem;
}
.zxjj_content2 .cTitle02 {
  font-weight: bold;
  color: #ffa900;
}
.zxjj_content2 .cContent02 {
  padding-top: 0.25rem;
  color: #555555;
}
.zxjj_content2 p {
  margin-bottom: 0.25rem;
  white-space: pre-wrap;
}
.zxjj_content2 p:last-child {
  margin-bottom: 0;
}
.zxjj_Pic img {
  width: 100%;
  margin-bottom: 0.5rem;
}
.zxjj_titleSub01 {
  font-size: 1rem;
  color: #219c6c;
  margin-bottom: 0.5rem;
  line-height: 1.5;
  font-weight: bold;
}
.zxjj_titleSub02 {
  font-size: 1rem;
  color: #555555;
  margin-bottom: 0.5rem;
  line-height: 1.5;
  font-weight: bold;
}
.zxjj_titleSub03 {
  font-size: 1rem;
  color: #555555;
  margin-bottom: 0.5rem;
  line-height: 1.5;
}
.hddianliang {
  width: 100%;
  overflow: hidden;
  text-align: center;
}
.hddianliang .span1 {
  font-size: 1rem;
  color: #219c6c;
  margin-bottom: 0.5rem;
  line-height: 1.5;
  font-weight: bold;
}
.hddianliang .span2 {
  font-size: 1rem;
  color: #555555;
  margin-bottom: 0.5rem;
  line-height: 1.5;
  font-weight: bold;
  margin-top: 0.5rem;
}
.cRed {
  color: #7b0c00;
  font-weight: bold;
}
.activityBox {
  margin: 3%;
  background-color: #EFEFEF;
}
.activityBox h3 {
  background-color: #2e88b6;
  color: #FFFFFF;
  text-align: center;
  font-family: "微软雅黑";
  padding: .5rem;
  margin-bottom: .5rem;
}
.activityBox .activity_form {
  padding: 2% 0;
  padding-bottom: 3%;
  font-size: 1rem;
  line-height: 1.5;
}
.activityBox .form_block {
  clear: both;
  overflow: hidden;
  padding-bottom: 0.75rem;
  padding-left: 7%;
  padding-right: 7%;
}
.activityBox .block_input {
  display: block;
  padding-left: 10px;
  width: 100%;
  padding: .5rem .5rem;
  font-size: 1rem;
  line-height: 1.25;
  color: #55595c;
  background-color: #fff;
  background-image: none;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid #E6E6E6;
  border-radius: .25rem;
  box-sizing: border-box;
}
.activityBox .Point01 {
  color: #999;
  display: block;
  margin-left: .275rem;
  font-size: .875rem;
}
.activityBox .Point02 {
  color: #a94442;
  display: none;
  margin-left: .275rem;
  font-size: .875rem;
}
.activityBox label {
  display: inline-block;
  font-size: 1rem;
  line-height: 1.5;
  font-size: 16px;
  color: #373a3c;
}
